name: CI Pipeline

on:
  push:
    branches: ["main", "develop"]

env:
  IMAGE_NAME: "mferrerovilas/api-expenses"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "25"

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Prepare Gradle
        run: chmod +x gradlew

      - name: Compute Version
        id: version
        run: |
          BUILD_VERSION=$(./gradlew printVersion --quiet)

          if [[ "${GITHUB_REF_NAME}" == "develop" ]] || [[ "${GITHUB_REF_NAME}" == hotfix/* ]]; then
            PHASE="-SNAPSHOT"
          else
            PHASE=""
          fi

          echo "version=${BUILD_VERSION}${PHASE}" >> $GITHUB_OUTPUT

          echo "${BUILD_VERSION}${PHASE}" > build.version
          echo "${PHASE}" > build.phase

      - name: Build Spring Boot JAR
        run: ./gradlew clean bootJar --no-daemon --stacktrace

      - name: Run Tests
        run: ./gradlew test --no-daemon --stacktrace --info
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            build.version
            build.phase
            build/libs/*.jar

  deploy:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts

      - name: Prepare runtime JAR
        run: |
          mv build/libs/*.jar expenses-api.jar

      - name: Set up QEMU (for multi-arch)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get Build Version
        id: version_getter
        run: |
          VERSION=$(cat build.version)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build & Push Docker Image (Multi-Arch)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: |
            ${{ env.IMAGE_NAME }}:latest
